:root {
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --container-height: 1000px;
    --container-width: 89.75%;
}

body {
    background: yellow;
}

.container {
    padding: 20px;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    row-gap: 1em;
}

header {
    display: grid;
}

.text-container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    height: var(--container-height);
    width: var(--container-width);
    z-index: 1;
}

.text-bubble {
    border: 1px solid darkred;
    border-radius: 20px;
    height: 80%;
}

.us {
    background: beige;
    height: 200px;
    width: 200px;
    box-shadow: var(--shadow);
    transform: rotate(-20deg);
    z-index: 10;
    position: absolute;
    top: -105px;
    left: 0;
}

.animation-container {
    margin: 100px 0;
    position: relative;
    z-index: -1;
    height: var(--container-height);
    width: var(--container-width);
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    display: flex;
    justify-content: space-around;
}

.sliding {
    animation: us-slide 20s normal forwards;
}

.sliding-rotating {
    animation: us-slide 20s normal forwards, us-rotate 0.7s infinite;
}

@keyframes us-slide {
    0% {
        margin-left: 5px;
        margin-top: 1000px;
    }

    40% {
        margin-left: 95%;
        margin-top: 1000px;
    }

    60% {
        margin-left: 95%;
        margin-top: 0;
    }

    100% {
        margin-left: 5px;
        margin-top: 0;
    }
}

@keyframes us-rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1600px) {
    .box {
        width: 89.5%;
    }
}